.teaser
  min-width: 300px
  gap: 36px 24px
  margin-bottom: 8px
  @include media('lg')
    gap: 21px
  @include media('reg')
    gap: 16px
  @include media('md')
    flex-direction: column
    padding: 0.5rem
  @include media('sm')
    padding: 0 9px
  &__item
    width: 378px
    @include media('lg')
      width: 316px
    @include media('reg')
      width: 234px
    @include media('md')
      width: 100%
      display: flex
      gap: 1rem
      
    @include media('sm')
      display: flex
      gap: 10px
      margin-bottom: 0
  &__header2
    font-family: Work Sans
    font-weight: 600
    font-size: 14px
    letter-spacing: 0.7px
    margin: 16px 0 24px 0
    @include media('lg')
      margin: 16px auto 24px auto
  &__header1
    font-family: Rufina
    font-size: 30px
    font-weight: 700
    letter-spacing: -0.1px
    line-height: 40px
    margin: 17px 0 25px -1px
  &__figure
    margin: 0
    @include media('md')
      width: 340px
    @include media('sm')
      width: 185px
    &-mod 
      overflow: visible !important
  &__content
    font-family: 'Oswald', sans-serif
    
    @include media('md')
      width: 50%
    @include media('sm')
      
      margin-bottom: 0
      padding-bottom: 1rem
  &__sub-title
    font-family: Work Sans
    font-weight: 600
    font-size: 13px
    line-height: 20px
    padding-top: 12px
    color: var(--fontHighlightColor)
    text-align: center
    @include media('reg')
      padding-top: 9px
    @include media('md')
      padding-top: 0px
      text-align: start
    @include media('sm')
      font-size: 12px
      line-height: 20px
  &__title
    font-family: Rufina
    font-size: 18px
    font-weight: 700
    padding: 2px 0px 0 0px
    line-height: 24px
    color: var(--fontDarkColor)
    text-align: center
    @include media('md')
      padding-top: 2px
      text-align: left
    @include media('sm')
      font-size: 1rem
      line-height: 19px
  &__tag
    font-size: 12px !important
    padding: 7px 0px 2px 15px !important
    font-family: Work Sans
    font-weight: 500
    color: #505050
    position: relative
    left: -11px
    top: -1px
    width: fit-content
    height: 17px
    margin: 0 auto
  &__description
    height: 0
    font-size: 12px !important
    padding: 7px 0px 2px 15px !important
    font-family: Work Sans
    font-weight: 500
    color: #505050
    position: relative
    left: -12px
    top: -1px
  &__anzeige
    font-size: 10px
    font-family: Work Sans
    color: #8e8e8e
    position: relative
    top: -19px
    text-align: end
    height: 0
    @include media('md')
      text-align: start
      top: -18px
      position: relative
      width: 0
  &__img
    transform: scale3d(1,1,1)
    transition: transform 1.2s ease-in-out
  &__item:hover
    .teaser__title
      color: var(--fontHighlightColor)
    .teaser__img
      transform: scale3d(1.15,1.15,1)
      @include media('md')
        transform: scale3d(1,1,1)
  &__model-title
    @include media('sm')
      padding: 0 9px
.teaser__item-add
  min-width: 300px
  width: calc(33.333% - 17px)
  margin-left: auto
  margin-right: auto
  @include media('lg')
    width: calc(33.3333% - (24px * 2/3)) 
    min-width: 300px
  @include media('md')
    .teaser__figure, .teaser__content
      width: 100%
  &-todo 
    display: block
    @include media('lg')
      display: none
.teaser-four
  margin: 0 0 61px 0
  @include media('lg')
    margin: 0 0 30px 0
  @include media('reg')
    margin: 0 0 68px 0
  @include media('md')
    gap: 26px
    margin: 0 0 15px 0
  @include media('sm')
    gap: 15px 
    margin: 0 0 68px 0
  .teaser__item
    
    @include media('lg')
      width: calc(50% - 12px) 
    @include media('md')
      width: 100%
    @include media('sm')
      gap: 9px
