.teaser
  min-width: 300px
  gap: 36px 24px
  
  @include media('lg')
    gap: 21px
  @include media('reg')
    gap: 25px
  @include media('md')
    flex-direction: column
    
  @include media('sm')
    padding: 0 10px
  &__item
    width: 378px
    @include media('lg')
      width: 316px
    @include media('reg')
      width: 234px
    @include media('md')
      width: 100%
      display: flex
      gap: 1rem
      
    @include media('sm')
      display: flex
      gap: 10px
      margin-bottom: 0
  &__header2
    font-family: Work Sans
    font-weight: 600
    font-size: 14px
    letter-spacing: 0.7px
    margin: 16px 0 24px 0
    @include media('lg')
      margin: 16px auto 24px auto
  &__header1
    font-family: Rufina
    font-size: 30px
    font-weight: 700
    letter-spacing: -0.1px
    line-height: 40px
    margin: 17px 0 25px -1px
  &__figure
    margin: 0
    @include media('md')
      width: 340px
    @include media('sm')
      width: 185px
    &-mod 
      overflow: visible !important
    &-var 
      @include media('md')
        height: 240px
        img
          height: 100%
          object-fit: cover
      @include media('sm')
        height: auto
  &__content
    font-family: 'Oswald', sans-serif
    
    @include media('md')
      width: 50%
    @include media('sm')
      
      margin-bottom: 0
      padding-bottom: 1rem
  &__sub-title
    font-family: Work Sans
    font-weight: 600
    font-size: 13px
    line-height: 20px
    padding-top: 12px
    color: var(--fontHighlightColor)
    text-align: center
    @include media('lg')
      font-size: clamp(12px, 8.9685px + 0.3937vw, 13px) // 12, 13, 770, 1024
    @include media('reg')
      padding-top: 9px
      font-size: 12px
    @include media('md')
      padding-top: 0px
      text-align: start
    @include media('sm')
      font-size: 12px
      line-height: 20px
  &__title
    font-family: Rufina
    font-size: 18px
    font-weight: 700
    padding: 2px 0px 0 0px
    line-height: 24px
    color: var(--fontDarkColor)
    text-align: center
    @include media('lg')
      font-size: clamp(16px, 9.937px + 0.7874vw, 18px) // 16, 18, 770, 1024
    @include media('reg')
      font-size: 16px
    @include media('md')
      padding-top: 2px
      text-align: left
    @include media('sm')
      font-size: 1rem
      line-height: 19px
  &__tag
    font-size: 12px !important
    padding: 7px 0px 2px 15px !important
    font-family: Work Sans
    font-weight: 500
    color: #505050
    position: relative
    left: -11px
    top: -1px
    width: fit-content
    height: 17px
    margin: 0 auto
  &__description
    height: 0
    font-size: 12px !important
    padding: 7px 0px 2px 15px !important
    font-family: Work Sans
    font-weight: 500
    color: #505050
    position: relative
    left: -12px
    top: -1px
  &__anzeige
    font-size: 10px
    font-family: Work Sans
    color: #8e8e8e
    position: relative
    top: -19px
    text-align: end
    height: 0
    @include media('md')
      text-align: start
      top: -18px
      position: relative
      width: 0
  &__img
    transform: scale3d(1,1,1)
    transition: transform 1.2s ease-in-out
  &__item:hover
    
    .teaser__img
      transform: scale3d(1.15,1.15,1)
      @include media('md')
        transform: scale3d(1,1,1)
  &__model-title
    padding: 0px 0px 9px 0px
    @include media('lg')
      padding: 0px 0px 15px 0px
    @include media('reg')
      padding: 0px 0px 11px 0px
    @include media('md')
      padding: 0px 0px 18px 0px

    @include media('sm')
      padding: 0 9px 18px 9px
.teaser__item-add
  min-width: 300px
  width: calc(33.333% - 17px)
  margin-left: auto
  margin-right: auto
  @include media('lg')
    width: calc(33.3333% - (24px * 2/3)) 
    min-width: 300px
  @include media('md')
    .teaser__figure, .teaser__content
      width: 100%
  &-todo 
    display: block
    @include media('lg')
      display: none
.teaser-four
  margin: 0 0 61px 0
  @include media('lg')
    margin: 0 0 30px 0
  @include media('reg')
    margin: 0 0 68px 0
  @include media('md')
    gap: 26px
    margin: 0 0 15px 0
  @include media('sm')
    gap: 15px 
    margin: 0 0 50px 0
  &-mod 
    @include media('lg')
      margin: 0px 0px 18px 0px
    @include media('reg')
      margin: 0 0 51px 0
    @include media('md')
      gap: 26px
      margin: 0 0 18px 0
    @include media('sm')
      gap: 15px 
      margin: 0 0 50px 0
  .teaser__item
    
    @include media('lg')
      width: calc(50% - 12px) 
    @include media('md')
      width: 100%
    @include media('sm')
      gap: 9px
  &-var
    @include media('sm')
      gap: 15px 
      margin: 0 0 0px 0
  &-last 
    margin: 0px 0px 46px 0px
    @include media('xl')
      gap: 24px
      margin: 0px 0px 54px 0px
    @include media('lg')
      gap: 13px
    @include media('reg')
      gap: 9px
    @include media('md')
      margin: 0px 0px 20px 0px
    @include media('sm')
      margin: 0px 0px 18px 0px
    &-item 
      @include media('xl')
        &:nth-last-of-type(-n+2)
          display: none
      @include media('md')
        &:nth-last-of-type(-n+3)
          display: none
      .teaser__sub-title 
        text-align: left
        padding-top: 8px
        @include media('reg')
          padding-top: 13px
        @include media('md')
          padding-top: 0px 
      .teaser__title
        text-align: left
          